<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5 shadow bg-light">
        <center>
            <h2 class="display-4 text-primary">Cotización</h2>
        </center>
        <form action="/cotizacion">
            <br>
            <label for="">Valor del automovil</label>
            <input type="number" id="valor" name="valor" required="true">
            <label for="">Porcentaje de pago inicial:</label>
            <select name="pInicial" id="pInicial">
                <option value="10">10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select> 
            <label for="">Plazos</label>
            <select name="plazo" id="plazo">
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
            </select>
            <br>
            <br>
            <button class="btn btn-primary btn-xs" type="sumbit">Calcular</button>
            <button class="btn btn-primary btn-xs" type="reset">Limpiar</button>

            <%
            let pagoInicial=0;
            let totalfin=0;
            let pmensual=0;

            if(valor!=null){
                pagoInicial=valor*(pInicial/100);
                totalfin=valor-pagoInicial;
                pmensual=totalfin/plazo;
            %>
            <br>
            <hr>
            <h3>Informacion de la cotización</h3>
            Valor del automovil: <%=valor%> Porcentaje de pago : <%=pInicial%>
            Plazos: <%=plazo%> <br>

            Pago Inicial : <%=pagoInicial%>
            Total a financiar : <%=totalfin%>
            Pago mensual : <%=pmensual%>
            <br>
            <br>
            <%
            }
            %>
        </form>
    </div>
</body>
</html>