<%-include('partials/encabezado.html')%>
<!DOCTYPE html>
<body>
	<div class="container">
		<table class="table table-striped table-hover" id="tabla-alumnos">
			<thead>
				<tr class="fila-alumno">
					<th>Matrícula</th>
					<th>Nombre</th>
					<th>Domicilio</th>
					<th>Sexo</th>
					<th>Especialidad</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<br>
		<form class="form-inline" id="formulario-alumno">
            <div class="form-group row">
                <div class="col-sm-2">
                    <input type="text" id="matricula" name="matricula" placeholder="Matrícula" class="form-control rounded-0">
                </div>
                <div class="col-sm-2">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control rounded-0">
                </div>
                <div class="col-sm-2">
                    <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" class="form-control rounded-0">
                </div>
                <div class="col-sm-2">
                    <select id="sexo" name="sexo" class="form-control">
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="especialidad" name="especialidad" placeholder="Especialidad" class="form-control rounded-0">
                </div>
            </div>
        </form>             
		<br>
        <button type="submit" class="btn btn-primary " id="buscar">Buscar</button>
		<button type="button" class="btn btn-success" id="agregar" >Agregar</button>
		<button type="button" class="btn btn-danger" id="borrar">Borrar</button>
		<button type="button" class="btn btn-warning" id="modificar" >Modificar</button>
	</div>
  <%-include('partials/piePagina.html')%>
</body>
<script>
  $(document).ready(function() {

// Función para cargar la tabla de alumnos
function cargarTablaAlumnos() {
  $.get('/mostrarTodos', function(alumnos) {
    var tbody = $('#tabla-alumnos tbody');
    tbody.empty();
    for (var i = 0; i < alumnos.length; i++) {
      var alumno = alumnos[i];
      var tr = $('<tr>').addClass('fila-alumno').appendTo(tbody);
      $('<td>').text(alumno.matricula).appendTo(tr);
      $('<td>').text(alumno.nombre).appendTo(tr);
      $('<td>').text(alumno.domicilio).appendTo(tr);
      $('<td>').text(alumno.sexo).appendTo(tr);
      $('<td>').text(alumno.especialidad).appendTo(tr);
    }
  });
}

// Carga la tabla de alumnos al cargar la página
cargarTablaAlumnos();

// Función para buscar un alumno
$('#buscar').click(function() {
  var matricula = $('#matricula').val();
  $.get(`/buscarMatricula/${matricula}`, function(alumno) {
    $('#nombre').val(alumno.nombre);
    $('#domicilio').val(alumno.domicilio);
    $('#sexo').val(alumno.sexo);
    $('#especialidad').val(alumno.especialidad);
  }).fail(function(error) {
    alert(error.responseJSON.message);
  });
});

// Función para agregar un alumno
$('#agregar').click(function() {
  var alumno = {
    matricula: $('#matricula').val(),
    nombre: $('#nombre').val(),
    domicilio: $('#domicilio').val(),
    sexo: $('#sexo').val(),
    especialidad: $('#especialidad').val(),
  };
  $.post('/insertar', alumno, function() {
    cargarTablaAlumnos();
    alert('Alumno agregado correctamente');
  }).fail(function(error) {
    alert(error.responseJSON.message);
  });
});

// Función para borrar un alumno
$('#borrar').click(function() {
  var matricula = $('#matricula').val();
  $.ajax({
    url: `/borrar/${matricula}`,
    type: 'DELETE',
    success: function() {
      cargarTablaAlumnos();
      alert('Alumno borrado correctamente');
    },
    error: function(error) {
      alert(error.responseJSON.message);
    }
  });
});

// Función para modificar un alumno
$('#modificar').click(function() {
  var matricula = $('#matricula').val();
  var alumno = {
    nombre: $('#nombre').val(),
    domicilio: $('#domicilio').val(),
    sexo: $('#sexo').val(),
    especialidad: $('#especialidad').val(),
  };
  $.ajax({
    url: `/actualizar/${matricula}`,
    type: 'PUT',
    data: alumno,
    success: function() {
      cargarTablaAlumnos();
      alert('Alumno actualizado correctamente');
    },
    error: function(error) {
      alert('Error al actualizar');
    }
  });
});
});
</script>